:root{
font: 20;
}


body{
    font-family: arial, sans-serif;
    text-align: center;
    margin-inline: auto;
    width: 800px;
    background-color:burlywood;

 }
 #header{
    background-color:whitesmoke;
    padding: auto;
    
 }
 #video{
    width: auto ;height: auto;
    padding-left: 0;
 }
 #ingredienti {
    margin-top: 30 em;
    padding left:0;
 }
 #footer {
    display: inline block;
 }
 