/*! GENERALI */
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #622407;
    margin: 15px;
}

a,
a{
    color: #622407;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


.center {
    text-align: center;
}

/*! CARD immagini */
.card {
    background-color: #FAF7E3;
    display: flex;
    flex-direction: column;
    border-radius: 120px;
    margin: 0 auto;
}

.card img {
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
}

.text {
    text-align: left;
    line-height: 0%;
    margin-left: 50px;
    margin-top: 25px;
}

.price {
    text-align: end;
    margin-right: 50px;
}

.card button {
    background-color: rgb(255, 234, 114);
    border-radius: 15px;
    text-align: center;
    border: none;
    padding: 5px 20px;
    color: #622407;
    margin-bottom: 15px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    font-size: 1.2rem;
}


/*! NAV */
.mainNav {
    background-color: #FAF7E3;
    padding: 10px;
    margin-bottom: 50px;
    height: 100%;
    border-radius: 50px;
}

.mainNav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mainNav ul li {
    background-color: rgb(255, 234, 114);
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 50px;
    width: 35%;
    text-align: center;
}

.mainNav ul .miele {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    order: -1;
    width: 50%;
    font-weight: bold;
    font-size: 1.3rem;
}

.shop {
    display: flex;
    align-items: center;

}

.miele img {
    width: 20%;
    height: 20%;
    margin-right: 10px;
}

/*! ARTICLE */
.article {
    margin-top: 50px;
    background-color: #FAF7E3;
    padding: 5px 30px;
    border-radius: 15px;
}

.article img {
    margin-top: 30px;
}


/**mobile*/
@media screen and (max-width: 400px) { 
    .mainNav ul li {
        width: 100%;
    }
}
/**tablet*/
@media screen and (min-width: 786px) {
    .mainNav ul {
        flex-wrap: nowrap;

    }

    .mainNav ul li {
        width: 20%;
    }

    .mainNav ul .miele {
        order: 0;
        width: 20%;
    }
}

@media screen and (max-width: 1200) {
     
    
    }

